@import "tailwindcss";
@import "@radix-ui/themes/styles.css";



body {
     background-image: linear-gradient(to right, #668cf4, #f1e9f8);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}
